<!DOCTYPE html>
<html lang="en">
  <head>
<meta property="og:image" content="https://h.top4top.io/p_2065lok7p0.png" />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2051676575998796"
     crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ramlan - APIs</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/logo.png" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    
    <script>
      $.getJSON("https://api.ipify.org?format=json",
        function (data) {

          // Setting text of element P with id gfg
          $("#gfg").html(data.ip);
        })
    </script>
  </head>
  <body>
    <audio id="myAudio">
  <source src="assets/sound.mp3" type="audio/ogg">
  <source src="assets/sound.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="assets/images/logo.png" alt="">
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Ramlan - APIs</h5>
                  <span>Created By Ramlan ID</span>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="#">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/changelog">
              <span class="menu-icon">
                <i class="mdi mdi-account"></i>
              </span>
              <span class="menu-title">Changelog</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="iconify icon:mdi:arch icon-inline:false"></i>
              </span>
              <span class="menu-title">Tools-Feature</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/api/tools/base64?encode=RAMLAN&apikey=YOUR_APIKEY">• Base64 Encode</a></li>
                <li class="nav-item"> <a class="nav-link" href="/api/tools/base64?decode=RAMLAN&apikey=YOUR_APIKEY">• Base64 Decode</a></li>
                <li class="nav-item"> <a class="nav-link" href="/api/tools/ipgeolocation?ip=181.6.182.217&apikey=YOUR_APIKEY">• Find Ip</a></li>
                <li class="nav-item"> <a class="nav-link" href="/api/tools/whois?q=181.6.182.217&apikey=YOUR_APIKEY">• Whois Ip</a></li>
                <li class="nav-item"> <a class="nav-link" href="/api/tools/openport-checker?domain=https://www.youtube.com&port=443&apikey=YOUR_APIKEY">• Nmap</a></li>
                <li class="nav-item"> <a class="nav-link" href="/api/tools/subdomain?ip=youtube.com&apikey=YOUR_APIKEY">• Subdomain</a></li>
                <li class="nav-item"> <a class="nav-link" href="/api/tools/md5-encrypt?teks=hello%20world&apikey=YOUR_APIKEY">• Md5 Encrypter</a></li>
                <li class="nav-item"> <a class="nav-link" href="/api/tools/cloudflare-resolver?domain=adf.ly&apikey=YOUR_APIKEY">• Cloudflare Resolver</a></li>
                <li class="nav-item"> <a class="nav-link" href="/api/tools/subnet-lookup?ip=192.186.168.162/24&apikey=YOUR_APIKEY">• Subnet lookup</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
              <span class="menu-icon">
                <i class="mdi mdi-magnify"></i>
              </span>
              <span class="menu-title">Search-Feature</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic2">
              <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a class="nav-link" href="/api/growstock-search?q=rayman&apikey=YOUR_APIKEY">• GrowStock-Search</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/moddroid-search?q=whatsapp&apikey=YOUR_APIKEY">• Moddrod</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/jalantikus-search?q=whatsapp&apikey=YOUR_APIKEY">• Jalan-Tikus</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/codepos-search?q=jakarta&apikey=YOUR_APIKEY">• KodePos-Search</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/arti-kata?q=senja&apikey=YOUR_APIKEY">• Arti-Kata Search</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/kata-bijak?q=senja&apikey=YOUR_APIKEY">• Kata-Bijak Search</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/sfile-search?q=oppok&apikey=YOUR_APIKEY">• Sfile.mobi Search</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/search-grup?q=mabar&apikey=YOUR_APIKEY">• Search-GroupWa</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/github-stalk?username=Ramlan404&apikey=YOUR_APIKEY">• Github-Stalk</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/brainly?q=apa%20itu%20dpr&apikey=YOUR_APIKEY">• Brainly</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/soundcloud?q=write+this+down&apikey=YOUR_APIKEY">• SoundCloud</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/amazon?q=iphone&apikey=YOUR_APIKEY">• Amazon-Search</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/tiktok-stalk?username=jokowi&apikey=YOUR_APIKEY">• Tiktok-Stalk</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/wattpad?q=horror&apikey=YOUR_APIKEY">• Wattpad-Search</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/yt-stalk?username=X-RAMLAN ID&apikey=YOUR_APIKEY">• Youtube-Stalk</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/google-image?q=X-RAMLAN ID&apikey=YOUR_APIKEY">• Google-Image</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/igstalk?username=iamramlan__id&apikey=YOUR_APIKEY">• Ig-Stalk</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/pinterest?q=hello+world&apikey=YOUR_APIKEY">• Pinterest</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/yt-search?q=pewdiepe&apikey=YOUR_APIKEY">• Yt-search</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/google-search?q=X-Ramlan ID&apikey=YOUR_APIKEY">• Google-Search</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/search-sticker?q=pentol&apikey=YOUR_APIKEY">• Sticker-Search</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/heroml?q=zilong&apikey=YOUR_APIKEY">• Heroml-search</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/thelazy-search?q=mobil&apikey=YOUR_APIKEY">• TheLazy-Media</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic3">
              <span class="menu-icon">
                <i class="mdi mdi-play-circle-outline"></i>
              </span>
              <span class="menu-title">Media-Feature</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic3">
              <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="/api/shopee-search?q=tp%20link%20adapter&apikey=YOUR_APIKEY">• Shopee-Product</a></li>
              <li class="nav-item"><a class="nav-link" href="/api/blibli-search?q=tp%20link%20adapter&apikey=YOUR_APIKEY">• Blibli-Mall</a></li>
              <li class="nav-item"><a class="nav-link" href="/api/youwatch-search?q=vagabond&apikey=YOUR_APIKEY">• YouWatch</a></li>
              <li class="nav-item"><a class="nav-link" href="/api/doramaindo-search?q=love&apikey=YOUR_APIKEY">• Dorama-Indo</a></li>
              <li class="nav-item"><a class="nav-link" href="/api/drakor-search?q=love&apikey=YOUR_APIKEY">• Drakor-Indo</a></li>
              <li class="nav-item"><a class="nav-link" href="/api/newsline?apikey=YOUR_APIKEY">• New-Stickerline</a></li>
              <li class="nav-item"><a class="nav-link" href="/api/apkpure-search?q=pokemon&apikey=YOUR_APIKEY">• ApkPure</a></li>
              <li class="nav-item"><a class="nav-link" href="/api/jalantikus-search?q=whatsapp&apikey=YOUR_APIKEY">• Jalan-Tikus</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic4">
              <span class="menu-icon">
                <i class="mdi mdi-comment-processing-outline"></i>
              </span>
              <span class="menu-title">News-Feature</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic4">
              <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a class="nav-link" href="/api/newsline?apikey=YOUR_APIKEY">• New-Stickerline</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/detik-news?apikey=YOUR_APIKEY">• Detik-News</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/kompasTV-news?apikey=YOUR_APIKEY">• KompasTV-News</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/info-gempa?apikey=YOUR_APIKEY">• Gempa-Terkini</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/info-tsunami?apikey=YOUR_APIKEY">• Tsunami-Terkini</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/jadwal-bola?apikey=YOUR_APIKEY">• Jadwal-Bola</a></li>
                  <li class="nav-item"><a class="nav-link" href="/api/antara-news?apikey=YOUR_APIKEY">• Antara.com</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic5">
              <span class="menu-icon">
                <i class="mdi mdi-download"></i>
              </span>
              <span class="menu-title">Download-Feature</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic5">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/api/sfile-dl?url=https://sfile.mobi/97Fjwx9hQI7&apikey=YOUR_APIKEY">• Sfile-mobi</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/solidfile-dl?url=http://www.solidfiles.com/v/2wXw3ryLmq7NR&apikey=YOUR_APIKEY">• Solidfiles</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/fbdl?url=https://www.facebook.com/100004655080743/posts/1845355648962920/?app=fbl&apikey=YOUR_APIKEY">• Facebook</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/sline-dl?url=https://store.line.me/stickershop/product/23487/id&apikey=YOUR_APIKEY">• StickerLine</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/smule-dl?url=https://www.smule.com/recording/lewis-capaldi-someone-you-loved/2027750707_2937753991&apikey=YOUR_APIKEY">• Smule</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/ytmp4?url=https://youtu.be/1WUbFJ1rzWw&apikey=YOUR_APIKEY">• Ytmp4</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/ytmp3?url=https://youtu.be/1WUbFJ1rzWw&apikey=YOUR_APIKEY">• Ytmp3</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/play?q=sayang&apikey=YOUR_APIKEY">• Youtube Play</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/tiktok?url=https://vt.tiktok.com/ZGJSpTAeG/&apikey=YOUR_APIKEY">• Tiktok</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/ytshort-dl?url=https://youtube.com/shorts/NBAXxzmB3E0?feature=share&apikey=YOUR_APIKEY">• Youtube-Short</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/ig-dl?url=https://www.instagram.com/p/CJpKBfPsO5z/?utm_medium=copy_link&apikey=YOUR_APIKEY">• Instagram</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/mediafire-dl?url=https://www.mediafire.com/file/jdevkff8qzp30sn/LKY01_WhatsApp_v2.21.4.22.apk/file&apikey=YOUR_APIKEY">• Mediafire</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/video-dl?url=http://i.coco.fun/short/lq2emW&apikey=YOUR_APIKEY">• VideoDL-AnySite</a></li>
              </ul>
            </div>
          </li>          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic6" aria-expanded="false" aria-controls="ui-basic6">
              <span class="menu-icon">
                <i class="mdi mdi-cat"></i>
              </span>
              <span class="menu-title">Anime-Feature</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic6">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/api/shota?apikey=YOUR_APIKEY">• Shota</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/husbu?apikey=YOUR_APIKEY">• Husbu</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/waifu?apikey=YOUR_APIKEY">• Waifu</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/loli?apikey=YOUR_APIKEY">• Loli</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/neko?apikey=YOUR_APIKEY">• Nekonime</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/kemono?apikey=YOUR_APIKEY">• Kemono</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/sagiri?apikey=YOUR_APIKEY">• Sagiri</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/megumin?apikey=YOUR_APIKEY">• Megumin</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/wallanime?apikey=YOUR_APIKEY">• Wallanime</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/samehadaku-search?q=boruto&apikey=YOUR_APIKEY">• Samehadaku-Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/mangatoon-search?q=daemon&apikey=YOUR_APIKEY">• MangaToon-Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/konachan-search?q=azur_lane&apikey=YOUR_APIKEY">• Konachan</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/topmanga?apikey=YOUR_APIKEY">• Top-Manga</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/topanime?apikey=YOUR_APIKEY">• Top-Anime</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/otakulast?apikey=YOUR_APIKEY">• Otakulast</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/manga-search?q=boruto&apikey=YOUR_APIKEY">• Manga-Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/neonimeongoing?apikey=YOUR_APIKEY">• Neonime-On-Going</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/malanime?q=boruto&apikey=YOUR_APIKEY">• Malanime-Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/kiryuu-search?q=boruto&apikey=YOUR_APIKEY">• Kiryuu-Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/dewabatch-search?q=naruto&apikey=YOUR_APIKEY">• DewaBatch-Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/anoboy-last?apikey=YOUR_APIKEY">• AnoboyLast</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic7" aria-expanded="false" aria-controls="ui-basic7">
              <span class="menu-icon">
                <i class=" mdi mdi-sync"></i>
              </span>
              <span class="menu-title">Random-Feature</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic7">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/api/random/asupan?apikey=YOUR_APIKEY">• Asupan</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/random/gachacewek?apikey=YOUR_APIKEY">• Gacha Cewe</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/random/gachacowok?apikey=YOUR_APIKEY">• Gacha Cowo</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/random/darkjoke?apikey=YOUR_APIKEY">• Darkjoke</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/random/memeindo?apikey=YOUR_APIKEY">• Meme Indo</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/random/memeindo2?apikey=YOUR_APIKEY">• Meme Indo 2</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/random/quotes?apikey=YOUR_APIKEY">• Quotes</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/random/pantun?apikey=YOUR_APIKEY">• Pantun</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/random/bucin?apikey=YOUR_APIKEY">• Bucin</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/random/cehor?apikey=YOUR_APIKEY">• Cerita Horor</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/random/fakta?apikey=YOUR_APIKEY">• Fakta</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/random/katabijak?apikey=YOUR_APIKEY">• Kata Bijak</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/random/motivasi?apikey=YOUR_APIKEY">• Motivasi</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic8" aria-expanded="false" aria-controls="ui-basic8">
              <span class="menu-icon">
                <i class="mdi mdi-gamepad-variant"></i>
              </span>
              <span class="menu-title">Game-Feature</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic8">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/api/game/tebak-anime?apikey=YOUR_APIKEY">• Tebak-Anime</a>
                <li class="nav-item"><a class="nav-link" href="/api/game/tebak-gambar?apikey=YOUR_APIKEY">• Tebak-Gambar</a>
                <li class="nav-item"><a class="nav-link" href="/api/game/caklontong?apikey=YOUR_APIKEY">• Caklontong</a>
                <li class="nav-item"><a class="nav-link" href="/api/game/family100?apikey=YOUR_APIKEY">• Family100</a>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#nulis" aria-expanded="false" aria-controls="nulis">
              <span class="menu-icon">
                <i class="mdi mdi-grease-pencil"></i>
              </span>
              <span class="menu-title">Magernulis</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="nulis">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/api/nulis?text=Ramlan&apikey=YOUR_APIKEY">• Nulis By MFarelS</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/nuliskiri?text=Ramlan&apikey=YOUR_APIKEY">• Nulis Kertas Kiri</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/nuliskanan?text=Ramlan&apikey=YOUR_APIKEY">• Nulis Kertas Kanan</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/foliokiri?text=Ramlan&apikey=YOUR_APIKEY">• Nulis Folio Kiri</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/foliokanan?text=Ramlan&apikey=YOUR_APIKEY">• Nulis Folio Kanan</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic9" aria-expanded="false" aria-controls="ui-basic9">
              <span class="menu-icon">
                <i class="mdi mdi-folder-multiple-image"></i>
              </span>
              <span class="menu-title">Nsfw-Feature</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic9">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/api/nsfw/randomhentong?apikey=YOUR_APIKEY">• Hentai NSFW</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/nsfw/neko?apikey=YOUR_APIKEY">• Neko NSFW</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/nsfw/blowjob?apikey=YOUR_APIKEY">• Blowjob NSFW</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/nsfw/kemonomimi?apikey=YOUR_APIKEY">• Kemonomimi NSFW</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/nsfw/kitsune?apikey=YOUR_APIKEY">• Kitsune NSFW</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/nsfw/yuri?apikey=YOUR_APIKEY">• Yuri NSFW</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/nsfw/boobs?apikey=YOUR_APIKEY">• Boobs NSFW</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/nsfw/kuni?apikey=YOUR_APIKEY">• Kuni NSFW</a></li>                
                <li class="nav-item"><a class="nav-link" href="/api/nsfw/trap?apikey=YOUR_APIKEY">• Trap NSFW</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/nsfw/ahegao?apikey=YOUR_APIKEY">• Ahegao NSFW</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/nsfw/echi?apikey=YOUR_APIKEY">• Echi NSFW</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/nsfw/ero?apikey=YOUR_APIKEY">• Ero NSFW</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic10" aria-expanded="false" aria-controls="ui-basic10">
              <span class="menu-icon">
                <i class=" mdi mdi-auto-fix"></i>
              </span>
              <span class="menu-title">Primbon-Feature</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic10">
              <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="/api/artinama?q=Ramlan&apikey=YOUR_APIKEY">• Arti-Nama</a></li>
              <li class="nav-item"><a class="nav-link" href="/api/arti-mimpi?q=ikan&apikey=YOUR_APIKEY">• Arti-Mimpi</a></li>
              <li class="nav-item"><a class="nav-link" href="/api/nomor-hoki?q=6285559240360&apikey=YOUR_APIKEY">• Nomor-Hoki</a></li>
              <li class="nav-item"><a class="nav-link" href="/api/ramal-jodoh?nama1=Ramlan&nama2=Raraa&apikey=YOUR_APIKEY">• Ramal-Jodoh</a></li>
              <li class="nav-item"><a class="nav-link" href="/api/zodiak?q=scorpio&apikey=YOUR_APIKEY">• Zodiak</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#textpro" aria-expanded="false" aria-controls="textpro">
              <span class="menu-icon">
                <i class=" mdi mdi-image-multiple"></i>
              </span>
              <span class="menu-title">Text Pro Me</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="textpro">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/api/textpro/neon?apikey=YOUR_APIKEY&text=Ramlan">• Neon</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/matrix?apikey=YOUR_APIKEY&text=Ramlan">• Matrix</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/blackpink?apikey=YOUR_APIKEY&text=Ramlan">• Blackpink</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/halloween?apikey=YOUR_APIKEY&text=Ramlan">• Halloween</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/thundername?apikey=YOUR_APIKEY&text=Ramlan">• Thunder</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/devilwings?apikey=YOUR_APIKEY&text=Ramlan">• Devil Wings</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/cloudtext?apikey=YOUR_APIKEY&text=Ramlan">• Cloud Text</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/bloodtext?apikey=YOUR_APIKEY&text=Ramlan">• Blood Text</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/bloodtext2?apikey=YOUR_APIKEY&text=Ramlan">• Blood Text2</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/steeltext?apikey=YOUR_APIKEY&text=Ramlan">• Steel Text</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/lavatext?apikey=YOUR_APIKEY&text=Ramlan">• Lava Text</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/toxiclogo?apikey=YOUR_APIKEY&text=Ramlan">• Toxic Logo</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/dropwater?apikey=YOUR_APIKEY&text=Ramlan">• Drop Water</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/metaldark?apikey=YOUR_APIKEY&text=Ramlan">• Metal Dark</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/sandwrite?apikey=YOUR_APIKEY&text=Ramlan">• Sand Write</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/3dwater?apikey=YOUR_APIKEY&text=Ramlan">• 3D Water</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro/graffiti?apikey=YOUR_APIKEY&text=Ramlan">• Wonderful Graffiti</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#textpro2" aria-expanded="false" aria-controls="textpro2">
              <span class="menu-icon">
                <i class=" mdi mdi-image-multiple"></i>
              </span>
              <span class="menu-title">Text Pro Me 2</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="textpro2">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/graffiti2?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• Wall Gravity</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/phlogo?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• Pornhub Logo</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/glitch?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• Glitch Logo</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/graffiti3?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• Cool Gravity</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/layeredtext?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• Layered Text</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/vintage?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• Vintage</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/3dspace?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• 3D Space</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/stonetext?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• Stone Text</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/avengers?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• Avengers Logo</a></li>                
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/marvellogo?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• Marvel Logo</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/3dmetal?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• 3D Metal</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/lionlogo?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• Lion Logo</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/wolflogo?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• Wolf Logo</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/textpro2/ninjalogo?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• Ninja Logo</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#photooxy" aria-expanded="false" aria-controls="photooxy">
              <span class="menu-icon">
                <i class=" mdi mdi-image-multiple"></i>
              </span>
              <span class="menu-title">Photooxy</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="photooxy">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/shadowtext?apikey=YOUR_APIKEY&text=Ramlan">• Shadow Text</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/smoketext?apikey=YOUR_APIKEY&text=Ramlan">• Smoke Text</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/romancetext?apikey=YOUR_APIKEY&text=Ramlan">• Romance</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/carvedwood?apikey=YOUR_APIKEY&text=Ramlan">• Carved Wood</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/harrypotter?apikey=YOUR_APIKEY&text=Ramlan">• Harry Potter</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/flamingtext?apikey=YOUR_APIKEY&text=Ramlan">• Flamming Text</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/falleaves?apikey=YOUR_APIKEY&text=Ramlan">• Fall Leaves</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/underwater?apikey=YOUR_APIKEY&text=Ramlan">• Under Water</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/wolfmetal?apikey=YOUR_APIKEY&text=Ramlan">• Wolf Metal</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/woodboard?apikey=YOUR_APIKEY&text=Ramlan">• Wood Board</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/woodheart?apikey=YOUR_APIKEY&text=Ramlan">• Wood Heart</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/undergrass?apikey=YOUR_APIKEY&text=Ramlan">• Under Grass</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/coffetext?apikey=YOUR_APIKEY&text=Ramlan">• Coffe Text</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/lovetext?apikey=YOUR_APIKEY&text=Ramlan">• Love Text</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/burnpaper?apikey=YOUR_APIKEY&text=Ramlan">• Burn Paper</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/lovemessage?apikey=YOUR_APIKEY&text=Ramlan">• Love Message</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/photooxy/pubglogo?apikey=YOUR_APIKEY&text1=Ramlan&text2=Raraa">• PUBG Logo</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#other" aria-expanded="false" aria-controls="other">
              <span class="menu-icon">
                <i class=" mdi mdi-plus-circle"></i>
              </span>
              <span class="menu-title">Other-Feature</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="other">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/api/other/tahta?q=Ramlan&apikey=YOUR_APIKEY">• Tahta By MFarelS</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/other/tts?text=Ramlan&apikey=YOUR_APIKEY">• TTS ID</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/other/ttp?text=Ramlan&apikey=YOUR_APIKEY">• Text To Picture</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/ucapan?timeZone=Asia/Jakarta">• Ucapan</a></li>
                <li class="nav-item"><a class="nav-link" href="/api/hitungmundur?tanggal=06&bulan=11">• Hitungmundur</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Contact Me</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" target="_blank"  href="https://instagram.com/iamramlan_/" target="_blank">
              <span class="menu-icon">
                <i class="mdi mdi-instagram"></i>
              </span>
              <span class="menu-title">Instagram</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" target="_blank"  href="http://wa.me/6285559240360" target="_blank">
              <span class="menu-icon">
                <i class="mdi mdi-whatsapp"></i>
              </span>
              <span class="menu-title">Whatsapp</span>
            </a>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Support me</span>
          </li>
          <li class="nav-item menu-items" id="other">
            <a class="nav-link" href="https://youtube.com/c/RAMLANID">
              <span class="menu-icon">
                <i class="mdi mdi-youtube"></i>
              </span>
              <span class="menu-title">Subscribe Now</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
  
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Check apikey</h4>
                    <form class="forms-sample" action="/api/checkapikey" method="GET">
                      <div class="form-group">
                        <input type="text" class="form-control" name="apikey" placeholder="Apikey" required="">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4>Playing Song...</h4>
                    <button type="submit" class="btn btn-primary mr-2" onclick="playAudio()">Play</button><button type="submit" class="btn btn-primary mr-2" onclick="pauseAudio()">Stop</button>
                    <script>
                        var x = document.getElementById("myAudio"); 

                      function playAudio() { 
                        x.play(); 
                      } 

                      function pauseAudio() { 
                        x.pause(); 
                      }
                      </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Your Ip Address</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0" id="gfg"></h2>
                        </div>
                        <h6 class="text-muted font-weight-normal">This your ip address</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Time Now</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0"><span id="datetime"></span></h2>
                            <script>
                              var dt = new Date();
                              document.getElementById("datetime").innerHTML = (("0" + dt.getDate()).slice(-2)) + "." + (("0" + (dt.getMonth() + 1)).slice(-2)) + "." + (dt.getFullYear()) + " " + (("0" + dt.getHours()).slice(-2)) + ":" + (("0" + dt.getMinutes()).slice(-2));
                            </script>
                        </div>
                        <h6 class="text-muted font-weight-normal">This time now</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-timer text-danger ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Total Visitor</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">4085</h2>
                        </div>
                        <h6 class="text-muted font-weight-normal">This total visitor</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-eye text-success ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
            <footer class="footer fixed-bottom">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                    Made with <i class="mdi mdi-heart"></i> by
              <a href="https://api.whatsapp.com/send/?phone=6285559240360" target="_blank">Ramlan ID</a></span>
            </div>
            </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>